<h2>About</h2>
<p>Welcome to Sketch Max. We are an art-loving community that seeks to support 
those who want to improve their drawing skills!</p></br>
<p>Eventually we will have a system in place that teams artists with commissioners. The artist will draw a quick sketch and get paid for it!</p>