<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <p>You got a message from the Sketch Max contact form. It's from <%= "#{@name}, #{@email}." %></p>
        <p><%= @body %></p>
    </body>
</html>